/* Ensures the entire header takes full width with white background */
.logo-header {
  background-color: white;
  width: 100%; /* Full width of the screen */
  padding: 20px 0; /* Padding for spacing */
  display: flex; /* Flexbox layout */
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
}

/* Optional: styling for the logo */
.logo-container {
  display: flex; /* Flexbox to align the image */
  justify-content: center; /* Center the image */
  align-items: center; /* Align vertically */
}

.logo {
  max-width: 10%;  /* Ensures the logo is responsive */
  height: auto;     /* Maintain aspect ratio */
}

.u-menu {
  display: flex;
  padding: 15px;
  justify-content: right;
  right: 1em;
  position: absolute;
}

.u-menu span {
  font-size:.7em;
  padding-right:1em;
}